#thing {
    position: relative;
    top: 200px;
}

#buttons {
    position: relative;
    left: 452px;
}

#more {
    position: relative;
    right: 10px;
    padding-right: 10px;
}

#checky {
    position: relative;
    left: 350px;
}

#client {
    display: none;
}